<!DOCTYPE html>
<html lang="en">
<head>
  <title>@ViewData["Title"]</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/admin/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/admin/css/account.css" />
</head>
<body>
  <div class="container">
    @await Html.PartialAsync("_LoginPartial")
    @RenderBody()
  </div>
  @RenderSection("Scripts", required: false)
</body>
</html>
