<!DOCTYPE html>
<html lang="en">
<head>
  <title>@ViewData["Title"]</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/admin/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/admin/css/styles.min.css" />
</head>
<body class="bf-account">
  <div class="container">
    @* @await Html.PartialAsync("_LoginPartial") *@
    <div class="bf-account-inner">
      @RenderBody()
    </div>
  </div>
  @RenderSection("Scripts", required: false)
</body>
</html>
