@model ChangePasswordViewModel
@{
    Layout = "~/Views/Blogifier/Admin/OneThree/_Layout/_Settings.cshtml";
    ViewData["Title"] = "Change password";
}

<div class="bf-settings bf-settings-boxed bf-settings-changepassword" data-page-title="Change password">
  @Html.Partial("_StatusMessage", Model.StatusMessage)
  <form method="post">
      <div class="form-group">
          <label asp-for="OldPassword"></label>
          <input asp-for="OldPassword" class="form-control" />
          <span asp-validation-for="OldPassword" class="text-danger"></span>
      </div>
      <div class="form-group">
          <label asp-for="NewPassword"></label>
          <input asp-for="NewPassword" class="form-control" />
          <span asp-validation-for="NewPassword" class="text-danger"></span>
      </div>
      <div class="form-group">
          <label asp-for="ConfirmPassword"></label>
          <input asp-for="ConfirmPassword" class="form-control" />
          <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary btn-main">Update password</button>
  </form>
</div>
