@model Blogifier.Core.Data.Models.AdminBaseModel
@using Blogifier.Core.Common
@using Blogifier.Core.Extensions
@{
    Layout = "~/Views/Blogifier/Admin/OneThree/_Layout/_Layout.cshtml";
}
<div class="bf-settings bf-settings-about">
    <h1>Users</h1>
</div>
