@using Blogifier.Core.Common
<!DOCTYPE html>
<html lang="en">
<head>
@Html.Partial($"~/{ApplicationSettings.BlogThemesFolder}/OneFour/_Shared/_Head.cshtml")
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
  <main class="wrapper is-home">
    @Html.Partial($"~/{ApplicationSettings.BlogThemesFolder}/OneFour/_Shared/_Header.cshtml")
    <section class="content">
      @RenderBody()
      <ul>
          <li><a href="~/">Home</a></li>
          @if (User.Identity.IsAuthenticated)
          {
              <li><a href="~/admin">Admin</a></li>
              <li><a href="#" onclick="profileLogOut(); return false;">Logoff</a></li>
          }
          else
          {
              <li><a href="~/account/login?ReturnUrl=/admin">Login</a></li>
          }
      </ul>

        <form class="blog-search" role="search" asp-controller="Blog" asp-action="Search" method="post">
            <input type="search" id="term" name="term" placeholder="Search..." autocomplete="off">
        </form>
      @Html.Partial($"~/{ApplicationSettings.BlogThemesFolder}/OneFour/_Shared/_Footer.cshtml")
    </section>
  </main>
</body>
</html>
