.btn {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 500;
  padding: .53125rem 1rem;

  &-sm {
    font-size: .75rem;
    padding: .375rem .75rem;
  }

  &-lg {
    padding: .78125rem 1rem;
  }

  &-unstyled {
    border: 0;
    background: none;
  }

  &-rounded {
    border-radius: 5rem;
  }
}
// BTN PRIMARY

.btn-primary {
  background-color: $cl-bf;
  border-color: $cl-bf;

  &:hover {
    background-color: darken($cl-bf, 7);
    border-color: darken($cl-bf, 7);
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  .show > &.dropdown-toggle {
    background-color: darken($cl-bf, 7);
    border-color: darken($cl-bf, 7);
    box-shadow: 0 0 0 .2rem rgba($cl-bf,.3);
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($cl-bf,.3);
  }
}
// BTN OUTLINE PRIMARY

.btn-outline-primary {
  color: $cl-bf;
  border-color: $cl-bf;

  &:hover {
    background-color: $cl-bf;
    border-color: $cl-bf;
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($cl-bf,.3);
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  .show > &.dropdown-toggle {
    background-color: darken($cl-bf, 7);
    border-color: darken($cl-bf, 7);
    box-shadow: 0 0 0 .2rem rgba($cl-bf,.3);
  }
}
