.btn {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 500;
  padding: 0 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  cursor: pointer;

  &-sm {
    font-size: .75rem;
    padding: 0 1rem;
    height: 2.25rem;
    line-height: 2.25rem;
  }

  &-lg {
    padding: 0 1.25rem;
    height: 3rem;
    line-height: 3rem;
  }

  &-rounded {
    border-radius: 5rem;
  }

  &-unstyled {
    border: 0;
    background: none;
  }

  &-icon {
    padding: 0;
    width: 3rem;
  }

  & + .dropdown-toggle-split {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-left: 1px solid rgba(#000000, .2);

    &::after {
      position: relative;
    }
  }

  .fa {
    font-size: .875rem;
  }
}
// BTN PRIMARY

.btn-primary {
  background-color: $cl-bf;
  border-color: $cl-bf;

  &:hover {
    background-color: darken($cl-bf, 7);
    border-color: darken($cl-bf, 7);
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  .show > &.dropdown-toggle {
    background-color: darken($cl-bf, 7);
    border-color: darken($cl-bf, 7);
    box-shadow: 0 0 0 .2rem rgba($cl-bf,.5);
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($cl-bf,.5);
  }
}
// BTN OUTLINE PRIMARY

.btn-outline-primary {
  color: $cl-bf;
  border-color: $cl-bf;

  &:hover {
    background-color: $cl-bf;
    border-color: $cl-bf;
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($cl-bf,.5);
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  .show > &.dropdown-toggle {
    background-color: darken($cl-bf, 7);
    border-color: darken($cl-bf, 7);
    box-shadow: 0 0 0 .2rem rgba($cl-bf,.5);
  }
}
