.dropdown-toggle {}

.dropdown-menu {
  padding: 0;
  overflow: hidden;
}

.dropdown-item {
  padding: .375rem 1rem;
  border-bottom: 1px solid #eee;
  font-size: .875rem;

  &:last-child {
    border-bottom: 0;
  }
}
