<ul class="bf-taskbar d-flex flex-column">
    <li class="taskbar-item">
        <a class="taskbar-item-link" href="~/admin/editor/0" title="Write New Post"><i class="taskbar-item-icon fa fa-plus"></i></a>
    </li>
    <li class="taskbar-item">
        <a class="taskbar-item-link" href="~/admin/" title="Posts"><i class="taskbar-item-icon fa fa-align-left"></i></a>
    </li>
    <li class="taskbar-item">
        <a class="taskbar-item-link" href="~/admin/settings/profile/" title="Settings"><i class="taskbar-item-icon fa fa-gear"></i></a>
    </li>
    <li class="taskbar-item mt-auto">
        <button class="taskbar-item-link" type="button"><i class="taskbar-item-icon fa fa-user"></i></button>
    </li>
</ul>