@using Blogifier.Core.Common
<ul class="bf-taskbar d-flex flex-lg-column ">
    <li class="taskbar-item">
        <a class="taskbar-item-link" href="~/admin/editor/0" title="Write New Post"><i class="taskbar-item-icon fa fa-plus"></i></a>
    </li>
    <li class="taskbar-item">
        <a class="taskbar-item-link" href="~/admin" title="Posts"><i class="taskbar-item-icon fa fa-align-left"></i></a>
    </li>
    <li class="taskbar-item">
        <a class="taskbar-item-link" href="~/admin/settings/profile" title="Settings"><i class="taskbar-item-icon fa fa-gear"></i></a>
    </li>
    <li class="taskbar-item ml-auto ml-lg-0 mt-lg-auto dropdown">
        <button class="taskbar-item-link" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="taskbar-item-icon fa fa-user"></i></button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a target="_blank" class="dropdown-item" href="~/">View blog</a>
            <a target="_blank" class="dropdown-item" href="~/account/ChangePassword">Change password</a>
            <a target="_blank" class="dropdown-item" href="#" onclick="profileLogOut(); return false;">Sign out</a>
        </div>
    </li>
</ul>
