.blog-footer {
  color: #000;
  font-size: .75rem;
  padding: 1rem 0;
  text-transform: uppercase;

  p {
    margin: 0;

    a {
      color: #000;

      &:hover {
        color: $color-theme;
      }
    }
  }
}
