.blog-header {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1000;
  height: 4rem;
  border-bottom: 1px solid rgba(#fff, .1);
  .container {
    height: 100%;
  }
}

.blog-logo {
  display: block;

  img {
    max-height: 2.5rem;
  }
}

.blog-title {
  font-family: $font-heading;
  font-size: 2.625rem;
  margin-bottom: 1rem;

  a {
    color: #fff;
  }
}

.blog-social {
  &-item {
    margin-right: 1.25rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    color: #fff;
    display: block;

    &:hover {
      color: #fff;
      opacity: .5;
    }
  }

  &-icon {
    display: block;
    font-size: 1.25rem;

    &.fa-twitter {
      font-size: 1.25rem;
    }
  }
}

.header-toggle {
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: 1001;
}
