.wrapper {}

.blog-content {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container {
  max-width: 56rem;
}

.overlay {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .85;
  z-index: 999;
  display: none;
}
