.bf-sidebar-settings {
  @include unstyled(ul);

  li {
    a {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      color: #aaa;
      display: block;
      padding: 0.75rem 2rem;

      &.active,
      &:focus,
      &:hover {
        color: #000;
      }
    }
  }
  @media screen and (min-width: 992px) {
    padding: 2rem 0;
    margin-top: -.75rem;
  }
  @media screen and (max-width: 991px) {
    li {
      border-bottom: 1px solid #e5e5e5;

      a {
        padding: 0.75rem 1rem;
      }
    }
  }
}
