.bf-sidebar-settings {
    @include unstyled(ul);
    margin-top: -.75rem;

    li {

        a {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            color: #aaa;
            display: block;
            padding: .75rem 0;

            &.active, &:focus, &:hover {
                color: #000;
            }
        }
    }
}
