//

.bf-page-posts {
  padding: 2rem;
}
//

.bf-posts-toolbar {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  .custom-control {
    display: block;
    padding: 0;
    width: 1.125rem;
  }

  .custom-select {
    width: 5.5rem;
  }
}
//

.bf-posts-list {
  @include unstyled(ul);
}

.post-item {
  position: relative;
  margin-bottom: 1rem;

  .custom-control {
    display: block;
    padding: 0;
    width: 1.125rem;
  }

  .item-link {
    color: #000;

    &:hover {
      color: #aaa;
    }
  }

  .item-status {
    font-size: .75rem;

    &-draft {
      color: orange;
    }

    &-published {
      color: green;
    }
  }

  .item-info-date {
    display: block;
    color: #666;
    font-size: .75rem;
    text-transform: uppercase;
  }

  .item-favorite {
  }

  .item-show {
  }
}
