//

.bf-page-posts {
  padding: 2rem;
  @media screen and (max-width: 991px) {
    padding: 0;
  }
}
//

.bf-posts-toolbar {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  .custom-control {
    display: block;
    padding: 0;
    width: 1.125rem;
  }

  .custom-select {
    width: 5.5rem;
  }
  @media screen and (max-width: 991px) {
    padding: 1rem;
    margin-bottom: 0;
  }
}
//

.bf-posts-list {
  @include unstyled(ul);
  margin-bottom: 1rem;
}

.post-search {
  margin-bottom: .5rem;

  a {
    display: block;

    &:hover {
      color: #000;
    }

    i {
      width: 1rem;
      height: 2rem;
      display: inline-block;
      margin-right: 1rem;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 0 1rem;
    margin: 0;
    line-height: 3rem;
    border-bottom: 1px solid #eee;
  }
}

.post-item {
  position: relative;
  height: 3rem;

  .custom-control {
    display: block;
    padding: 0;
    margin: 0;
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;

    &-indicator {
      top: 0;
      left: 0;
    }
  }

  .item-link {
    color: #000;
    height: 3rem;
    line-height: 3rem;
    display: block;
    width: 100%;
    @include ellipsis;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: $cl-bf;
    }
  }

  .item-status {
    font-size: .625rem;
    padding-left: 1rem;

    &-draft {
      color: #ff9b00;
    }

    &-published {
      color: #00c748;
    }
  }

  .item-date {
    display: block;
    color: #666;
    font-size: .75rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .item-favorite {
    font-size: .875rem;
    cursor: pointer;
    padding: 0;

    .fa-star-o {
      color: #888;
    }

    .fa-star {
      color: #ffbe00;
    }

    &:focus,
    &:hover {
      outline: none;

      .fa-star-o {
        color: #ffbe00;
      }

      .fa-star {
        color: #888;
      }
    }
  }

  .item-show {
    font-size: .875rem;
    color: #888;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: $cl-bf;
    }
  }
  //
  &:hover {
    .item-link {
      color: $cl-bf;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 0 1rem;
    border-bottom: 1px solid #eee;
  }
  @media screen and (max-width: 767px) {

    .item-date {
      display: none;
    }
  }
}
//

.bf-posts-pagination {
  @include unstyled(ul);

  i {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 1rem;
  }
  @media screen and (max-width: 991px) {
    padding: 0 1rem;
  }
}
