.bf-page-posts {
  padding: 2rem;

  .bf-toolbar {
    .custom-control {
      display: block;
      padding: 0;
      width: 1.125rem;
    }

    .custom-select {
      width: 5.5rem;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 0 0 1rem;

    .bf-toolbar {
      padding: 1rem;
      margin-bottom: 0;
    }

    .bf-posts-empty {
      padding: 0 1rem;
    }
  }
}
@import "sidebar";
@import "search";
@import "list";
@import "grid";
@import "pagination";
