.bf-page-posts {
  padding: 2rem;
  @media screen and (max-width: 991px) {
    padding: 0 0 1rem;

    .bf-posts-empty {
      padding: 0 1rem;
    }
  }
}
@import "sidebar";
@import "toolbar";
@import "search";
@import "list";
@import "grid";
@import "pagination";
