.bf-posts-search {
  margin-bottom: 1.5rem;

  .form-control {
    background: none;
  }
}

.filters-group {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  ul {
    @include unstyled(ul);

    label {
      margin: 0;
    }
  }

  &-title {
    font-weight: 500;
    font-size: .875rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
  }
}
