.bf-posts-search {
    margin-bottom: 1.5rem;

    .form-control {
        border-radius: 4rem;
        background: none;
    }
}

.filters-group {
    margin-bottom: 1.5rem;

    ul {
        @include unstyled(ul);

        label {
            margin: 0;
        }
    }

    &-title {
        font-weight: 500;
        font-size: .875rem;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
}
