body,
html {
  height: 100%;
}

body {
  font-family: $font-family-base;
  cursor: default;
  @media screen and (min-width: 75rem) {
    overflow-y: scroll;
  }
}
//

.bf {
  position: relative;
  height: 100%;
  @media screen and (min-width: 991px) {
    padding-left: $width-taskbar;
  }
}

.bf-header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  height: 3rem;

  &-title {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 1rem;
  }

  &-toggle {
    color: #aaa;

    &.active,
    &:focus,
    &:hover {
      color: #000;
    }

    .fa {
      transition: transform ease-out .25s;
    }

    &.active {
      .fa-chevron-down {
        transform: rotateX(180deg);
      }

      .fa-sliders {
        transform: rotateY(180deg);
      }
    }
  }
}

.bf-body {
  @media screen and (min-width: 991px) {
    min-height: 100%;
  }
}

.bf-taskbar {
  @include unstyled(ul);
  background-color: $cl-bf;
  color: #fff;
  z-index: 1000;

  .taskbar-item {
    opacity: .5;
    transition: opacity ease-in .1s;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  .taskbar-item-link {
    display: block;
    height: 100%;
    color: #fff;
    width: 100%;
    border: 0;
    background: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 0;
  }

  .taskbar-item-icon {
    display: block;
    font-size: 1.1875rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  @media screen and (min-width: 991px) {
    width: $width-taskbar;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    .taskbar-item {
      height: $width-taskbar;
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    height: $width-taskbar-sm;

    .taskbar-item {
      width: $width-taskbar-sm;
      height: 100%;
    }
  }
}

.bf-sidebar {
  background-color: #f2f2f2;
  @media screen and (max-width: 991px) {
    display: none;
  }

  &-inner {
    padding: 2rem;
    @media screen and (max-width: 991px) {
      padding: 2rem 1rem;
    }
  }
}
