html, body {
    height: 100%;
}

body {
    font-family: $font-family-base;
    cursor: default;

    @media screen and (min-width:75rem) {
        overflow-y: scroll;
    }
}

//
.bf {
    position: relative;
    padding-left: $width-taskbar;
    height: 100%;
}

.bf-body {
    height: 100%;
}

.bf-taskbar {
    @include unstyled(ul);
    background-color: $cl-bf;
    width: $width-taskbar;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    color: #fff;

    .taskbar-item {
        height: $width-taskbar;
        width: $width-taskbar;
        opacity: 0.5;
        transition: opacity ease-in .1s;

        &:hover {
            opacity: 1;
        }
    }

    .taskbar-item-link {
        display: block;
        height: 100%;
        color: #fff;
        width: 100%;
        border: 0;
        background: 0;
        cursor: pointer;
    }

    .taskbar-item-icon {
        display: block;
        height: 100%;
        text-align: center;
        line-height: $width-taskbar;
        font-size: 1.1875rem;
    }
}
