body,
html {
  height: 100%;
}

body {
  font-family: $font-family-base;
  cursor: default;
  @media screen and (min-width: 75rem) {
    overflow-y: scroll;
  }
}
//

.bf {
  position: relative;
  height: 100%;
  @media screen and (min-width: 992px) {
    padding-left: $width-taskbar;
  }
}

.bf-header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  line-height: 3rem;
  height: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 1rem;
  position: relative;

  .fa {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform ease-out .25s;
  }

  span {
    padding-left: .25rem;
  }

  &.active {
    .fa-chevron-down {
      transform: translateY(-50%) rotateX(180deg);
    }

    .fa-sliders {
      transform: translateY(-50%) rotateY(180deg);
    }
  }
}

.bf-taskbar {
  @include unstyled(ul);
  background-color: $cl-bf;
  color: #fff;
  z-index: 1000;

  .taskbar-item {
    opacity: .5;
    transition: opacity ease-in .1s;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  .taskbar-item-link {
    display: block;
    height: 100%;
    color: #fff;
    width: 100%;
    border: 0;
    background: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 0;
  }

  .taskbar-item-icon {
    display: block;
    font-size: 1.1875rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  @media screen and (min-width: 992px) {
    width: $width-taskbar;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    // overflow-y: auto;
    // any overflow on this will hide any dropdown

    .taskbar-item {
      height: $width-taskbar;
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    height: $width-taskbar-sm;

    .taskbar-item {
      width: $width-taskbar-sm;
      height: 100%;
    }
  }
}

.bf-body {
  position: relative;
  @media screen and (min-width: 992px) {
    min-height: 100%;
    padding-left: $width-sidebar;
  }
}

.bf-sidebar {
  background-color: #f2f2f2;
  @media screen and (min-width: 992px) {
    min-height: 100%;
    width: $width-sidebar;
    position: fixed;
    left: $width-taskbar;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  @media screen and (max-width: 991px) {
    display: none;
  }

  &-inner {
    padding: 2rem;
    @media screen and (max-width: 991px) {
      padding: 2rem 1rem;
    }
  }
}

.bf-content {
  width: 100%;
}
