.post {
  position: relative;
  min-height: 14rem;
  margin-bottom: 4rem;
  padding-left: 22rem;

  .post-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 20rem;
    height: 14rem;
    overflow: hidden;

    img {
      width: auto;
      min-height: 100%;
      min-width: 100%;
      max-width: 150%;
      max-height: none;
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      transform: translate(-50%, -50%);
      transition: transform ease-in .25s;
    }
  }
}
