.modal {
  .modal-header {
    padding: 0 0 0 1rem;

    .modal-title {
      font-size: 1rem;
      margin: auto 0;
    }

    .close {
      font-size: 1.25rem;
      cursor: pointer;
      margin: auto 0;

      &:focus {
        outline: none;
      }
    }
  }

  .modal-content {
    border: 0;
    overflow: hidden;

    .form-group {
      margin-bottom: 1rem;
    }
  }
}

.modal-backdrop {
  &.show {
    opacity: .75;
  }
}
